.dk-video-js .dk-vjs-audio-button .dk-vjs-icon-placeholder {
  @extend .dk-vjs-icon-audio;
}

.dk-video-js .dk-vjs-audio-button + .dk-vjs-menu .dk-vjs-main-desc-menu-item .dk-vjs-menu-item-text .dk-vjs-icon-placeholder {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: -0.1em;
}

// Mark a main-desc-menu-item (main + description) item with a trailing Audio Description icon
.dk-video-js .dk-vjs-audio-button + .dk-vjs-menu .dk-vjs-main-desc-menu-item .dk-vjs-menu-item-text .dk-vjs-icon-placeholder:before {
  font-family: VideoJS;
  content: " \f11d";
  font-size: 1.5em;
  line-height: inherit;
}
