.dk-video-js .dk-vjs-control-bar {
  display: none;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3.0em;

  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);
}

// Video has started playing
.dk-vjs-has-started .dk-vjs-control-bar {
  @include display-flex;
  visibility: visible;
  opacity: 1;

  $trans: visibility 0.1s, opacity 0.1s; // Var needed because of comma
  @include transition($trans);
}

// Video has started playing AND user is inactive
.dk-vjs-has-started.dk-vjs-user-inactive.dk-vjs-playing .dk-vjs-control-bar {
  // Remain visible for screen reader and keyboard users
  visibility: visible;
  opacity: 0;
  // prevent a click/tap from interacting with dk-vjs-lock-showing menu's
  // or other controls while we are inactive/hidden
  pointer-events: none;

  $trans: visibility 1.0s, opacity 1.0s;
  @include transition($trans);

}

.dk-vjs-controls-disabled .dk-vjs-control-bar,
.dk-vjs-using-native-controls .dk-vjs-control-bar,
.dk-vjs-error .dk-vjs-control-bar {
  // !important is ok in this context.
  display: none !important;
}

// Don't hide the control bar if it's audio
.dk-vjs-audio.dk-vjs-has-started.dk-vjs-user-inactive.dk-vjs-playing .dk-vjs-control-bar {
  opacity: 1;
  visibility: visible;
}

// no flex support
.dk-vjs-has-started.dk-vjs-no-flex .dk-vjs-control-bar {
  display: table;
}
