// css for the old live ui, assumes that the progress bar is hidden
.dk-video-js .dk-vjs-live-control {
  @include display-flex(flex-start);
  @include flex(auto);
  font-size: 1em;
  line-height: 3em;
}

.dk-vjs-no-flex .dk-vjs-live-control {
  display: table-cell;
  width: auto;
  text-align: left;
}

// hide the LiveDisplay when not live or when
// the new liveui is in use
.dk-video-js:not(.dk-vjs-live) .dk-vjs-live-control,
.dk-video-js.dk-vjs-liveui .dk-vjs-live-control {
  display: none;
}

// css for the new live ui below
.dk-video-js .dk-vjs-seek-to-live-control {
  align-items: center;
  cursor: pointer;
  @include flex(none);
  display: inline-flex;
  height: 100%;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1em;
  line-height: 3em;
  width: auto;
  min-width: 4em;
}

.dk-vjs-no-flex .dk-vjs-seek-to-live-control {
  display: table-cell;
  width: auto;
  text-align: left;
}

// hide the SeekToLive button when not live and
// when the liveui is not in use
.dk-video-js.dk-vjs-live:not(.dk-vjs-liveui) .dk-vjs-seek-to-live-control,
.dk-video-js:not(.dk-vjs-live) .dk-vjs-seek-to-live-control {
  display: none;
}

// only show as a pointer when we will seek to live edge
.dk-vjs-seek-to-live-control.dk-vjs-control.dk-vjs-at-live-edge {
  cursor: auto;
}

.dk-vjs-seek-to-live-control .dk-vjs-icon-placeholder {
  margin-right: 0.5em;
  @extend .dk-vjs-icon-circle;
  color: #888;
}

// make the live circle red when at the live edge
.dk-vjs-seek-to-live-control.dk-vjs-control.dk-vjs-at-live-edge .dk-vjs-icon-placeholder {
  color: red;
}
