// Emulated tracks
.dk-vjs-text-track-display {
  position: absolute;
  bottom: 3em;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}

// Move captions down when controls aren't being shown
.dk-video-js.dk-vjs-user-inactive.dk-vjs-playing .dk-vjs-text-track-display {
  bottom: 1em;
}

// Individual tracks
.dk-video-js .dk-vjs-text-track {
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 0.1em;
}

.dk-vjs-subtitles { color: #fff; } // Subtitles are white
.dk-vjs-captions { color: #fc6; } // Captions are yellow
.dk-vjs-tt-cue { display: block; }

// Native tracks
video::-webkit-media-text-track-display {
  @include transform(translateY(-3em));
}

// Move captions down when controls aren't being shown
.dk-video-js.dk-vjs-user-inactive.dk-vjs-playing video::-webkit-media-text-track-display {
  @include transform(translateY(-1.5em));
}
