.dk-video-js .dk-vjs-time-control {
  @include flex(none);
  font-size: 1em;
  line-height: 3em;
  min-width: 2em;
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.dk-vjs-live .dk-vjs-time-control {
  display: none;
}

// We need the extra specificity that referencing .dk-vjs-no-flex provides.
.dk-video-js .dk-vjs-current-time,
.dk-vjs-no-flex .dk-vjs-current-time {
  display: none;
}

.dk-video-js .dk-vjs-duration,
.dk-vjs-no-flex .dk-vjs-duration {
  display: none;
}

.dk-vjs-time-divider {
  display: none;
  line-height: 3em;
}

.dk-vjs-live .dk-vjs-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
  display: none;
}
