.dk-vjs-menu-button-popup .dk-vjs-menu {
  display: none;
  position: absolute;
  bottom: 0;
  width: 10em;
  left: -3em; // (Width of dk-vjs-menu - width of button) / 2
  height: 0em;
  margin-bottom: 1.5em;
  border-top-color: rgba($primary-background-color, $primary-background-transparency); // Same as ul background
}

// Button Pop-up Menu
.dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content {
  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);

  position: absolute;
  width: 100%;
  bottom: 1.5em; // Same bottom as dk-vjs-menu border-top
  max-height: 15em;
}

.dk-vjs-layout-tiny .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content,
.dk-vjs-layout-x-small .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content {
  max-height: 5em;
}

.dk-vjs-layout-small .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content {
  max-height: 10em;
}

.dk-vjs-layout-medium .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content {
  max-height: 14em;
}

.dk-vjs-layout-large .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content,
.dk-vjs-layout-x-large .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content,
.dk-vjs-layout-huge .dk-vjs-menu-button-popup .dk-vjs-menu .dk-vjs-menu-content {
  max-height: 25em;
}

.dk-vjs-workinghover .dk-vjs-menu-button-popup.dk-vjs-hover .dk-vjs-menu,
.dk-vjs-menu-button-popup .dk-vjs-menu.dk-vjs-lock-showing {
  display: block;
}
